**/__pycache__
venv/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Database for test
db.sqlite3

# backend file storage
backend/storage

# backend migrations
#backend/*/migrations