amqp
asgiref
billiard
celery
certifi
chardet
coreapi
coreschema
Django
django-celery-results
django-coreapi
django-cors-headers
djangorestframework
idna
importlib-metadata
itypes
Jinja2
kombu < 5.0
MarkupSafe
pytz
PyYAML
requests
sqlparse
uritemplate
urllib3
vine
zipp
six
pycryptodome